
header {
    display: flex; /*make fixed always*/
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.menu-icon {
    display: none; /* Hide the default label */
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

label img {
    width: 32px;
}

label {
    display: none;
    width: 32px;
}

.header__menu > img {
    max-width: 100%;
}


.header__nav {
    display: flex;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin-right: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.nav__buttons {
    display: flex;
}

.header__nav__Learn-more {
    margin-right: 24px;
    padding: 5px 10px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px; /* 150% */
    border-radius: 2px;
    background: #111B47;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.header__nav__Learn-more:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

header .header__title {
    color: #37447E;
    font-size: 26px;
    font-weight: 900;
    line-height: 3px; /* 146.154% */
}


.header__nav__Buy-now {
    color: #111B47;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    padding: 5px 10px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFD166;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.header__nav__Buy-now:hover {
    color: #FFFFFF;
    background-color: #FF2A00;
    transform: scale(1.1);
}

.hero__inner h1 {
    color: #091133;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px; /* 133.333% */
    width: 540px;
}

.hero__inner p {
    color: #6F7CB2;
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    width: 540px;
}

.hero__inner__info-card h2 {
    width: 255px;
    color: #091133;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.hero__inner__info-card p {
    color: #5D6970;
    font-size: 12px;
    line-height: 18px; /* 150% */
    width: 255px;
}

.hero__inner__info-cards {
    padding-top: 26px;
    display: flex;
}

.hero__inner {
    display: flex;
    padding-top: 120px;
}


.hero__inner__left-block {
    width: 50%;
    margin-right: 75px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
        /*width: 100%;*/
        position: fixed;
        left: 0;
        right: 0;
        padding: 20px;
        /*background-color: white;*/
        z-index: 10;
    }
    header {
        width: 100%;
        height: 6%;
        position: fixed;
        background-color: wheat;
        z-index: 10;
    }

    .menu-icon {
        display: flex;
        padding-left: 3%;
        padding-bottom: 2%;
        z-index: 10;
        position: fixed;
        top:10px;
    }

    .header__title {
        position: fixed;
        right: 20px;
        top:20px;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked ~ .header__nav {
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        background-color: aliceblue;
    }

    #menu-toggle:checked ~ .header__title {
        display: none;
    }

    #menu-toggle:checked ~ .header__nav {
        align-items: center;
        /*justify-content: flex-start;*/
    }


    #menu-toggle:checked ~ .header__nav ul {
        text-align: center;
        display: block;
        padding-bottom: 5%;
    }
    #menu-toggle:checked ~ .header__nav ul li {
        text-align: center;
        font-size: 20px;
        margin: 0;
        padding-bottom: 20px;
    }

    #menu-toggle:checked ~ .header__nav .nav__buttons {
        display: flex;
        flex-direction: row;
        padding-right: 40%;
        padding-top: 10%;
    }
    #menu-toggle:checked ~ .header__nav .nav__buttons .header__nav__Learn-more {
        /*margin: 5rem auto;*/
        width: 80%;
        padding: 5px 10px;
    }

    #menu-toggle:checked ~ .header__nav .nav__buttons .header__nav__Buy-now {
        /*margin: 5rem auto;*/
        width: 80%;
        padding: 5px 10px;

    }


    .header__menu {
        padding-left: 5%;
        display: block;
    }

    label {
        display: block;
    }

    .header__nav {
        display: none;
        /*background: #e7ecff;*/
        /*position: fixed;*/
        /*top: 72px;*/
        /*left: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*margin-top: 0;*/
        /*clip-path: circle(0 at top left);*/
        /*transition: clip-path 0.9s ease-in;*/
    }

    .hero__inner {
        width: 100%;
    }

    .hero__inner__left-block {
        width: 100%;
        margin: 0;
    }

    .hero__inner__tittle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__inner__tittle h1 {
        text-align: center;
        margin: 0;
        width: 90%;
        padding-bottom: 5%;
    }

    .hero__inner__tittle p {
        width: 90%;
        text-align: center;
        margin-right: 0;
    }

    .hero__inner__info-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__inner__info-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3%;
    }

    .hero__inner__info-card img {
        width: 20%;
    }

    .hero__inner__info-card h2 {
        text-align: center;
        padding-top: 5%;
    }

    .hero__inner__info-card p {
        font-size: 17px;
        width: 90%;
        text-align: center;
    }


    .hero__inner > img {
        display: none;
    }

}


